<%- include('includes/head.ejs') %>
  <%- include('includes/nav.ejs') %>
  <form action="/users" method="post">
    <label for="name">Name</label>
    <input type="text" name="userName">
    <button>Submit</button>
  </form>
</body>
</html>